a {
    color: lightskyblue;
}

body {
    /*background-image: url(images/bg1.avif);*/
    background-color: black;
    min-height: 100%;
    background-position: center center;
    background-size: cover;
    font-family: "Canterbury", "Georgia", Times, serif;
    color: white;
}

table, td {
    border-collapse: collapse;
    border: 1px solid;
}

table {
    margin-left: 1%;
}

td {
    padding: 3px;
}

ul {
    list-style-type: "- ";
}

.beer_entry {
    text-align: left;
}

.beer_title {
    font-style: italic;
}

.ul_header {
    text-decoration: underline;
}

.title {
    text-align: center;
}