body, html {
    height: 100%;
    color: white;
}

body {
    background-image: url(images/bg1.avif);
    min-height: 100%;
    background-position: center center;
    background-size: cover;
}

.beer_entry {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.beer_header {
    text-align: center;
    font-size: xx-large;
}